<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- Servlets -->
	
	
	<!-- MONITORING -->
	<servlet>
		<servlet-name>MonitoringServlet</servlet-name>
		<servlet-class>it.osg.servlet.MonitoringServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MonitoringServlet</servlet-name>
		<url-pattern>/facebook/monitoring</url-pattern>
	</servlet-mapping>
    <!-- FINE MONITORING -->



<!-- CONF -->
    <servlet>
        <servlet-name>Conf Time Likes Servlet</servlet-name>
        <servlet-class>it.osg.servlet.conf.ConfTimeLikesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Conf Time Likes Servlet</servlet-name>
        <url-pattern>/conf/conftimelikes</url-pattern>
    </servlet-mapping>
<!-- FINE CONF -->


<!-- VARIE -->
    <servlet>
        <servlet-name>RetrieveDataServlet</servlet-name>
        <servlet-class>it.osg.servlet.RetrieveDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RetrieveDataServlet</servlet-name>
        <url-pattern>/facebook/monitoring/data</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>Bulk Upload</servlet-name>
		<servlet-class>it.osg.servlet.BulkUploaderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Bulk Upload</servlet-name>
		<url-pattern>/bulk/bulkupload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Test Servlet</servlet-name>
		<servlet-class>it.osg.servlet.TestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Test Servlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PSAR Servlet</servlet-name>
		<servlet-class>it.osg.servlet.PSARServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PSAR Servlet</servlet-name>
		<url-pattern>/psar</url-pattern>
	</servlet-mapping>
<!-- FINE VARIE -->



<!-- JERSEY -->
	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>it.osg.service.rest.impl</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
    		<param-value>it.osg.security.ResponseCorsFilter</param-value>
    	</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- 
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
 	-->
	
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
<!-- FINE JERSEY -->



	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>