<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- PSAR -->
	<servlet>
		<servlet-name>FacebookPsarSplitTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.facebook.FBSplitTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FacebookPsarSplitTaskServlet</servlet-name>
		<url-pattern>/FBpsarsplittask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FacebookPsarSubTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.facebook.FBSubTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FacebookPsarSubTaskServlet</servlet-name>
		<url-pattern>/FBpsarsubtask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FacebookPsarJoinTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.facebook.FBJoinTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FacebookPsarJoinTaskServlet</servlet-name>
		<url-pattern>/FBpsarjointask</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>PlusPsarSplitTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.plus.PLSplitTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PlusPsarSplitTaskServlet</servlet-name>
		<url-pattern>/PLpsarsplittask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PlusPsarSubTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.plus.PLSubTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PlusPsarSubTaskServlet</servlet-name>
		<url-pattern>/PLpsarsubtask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PlusPsarJoinTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.plus.PLJoinTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PlusPsarJoinTaskServlet</servlet-name>
		<url-pattern>/PLpsarjointask</url-pattern>
	</servlet-mapping>
	<!-- FINE PSAR -->



	<!-- CRON JOB DI PULIZIA -->
	<servlet>
		<servlet-name>DeleteTableServlet</servlet-name>
		<servlet-class>it.osg.servlet.DeleteTableServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteTableServlet</servlet-name>
		<url-pattern>/deletetable</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteTableToQueueServlet</servlet-name>
		<servlet-class>it.osg.servlet.DeleteTableToQueueServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteTableToQueueServlet</servlet-name>
		<url-pattern>/deletetabletoqueue</url-pattern>
	</servlet-mapping>
	<!-- FINE CRON JOB DI PULIZIA -->
	
	
	<!-- VARIE -->
	<servlet>
		<servlet-name>BulkUpload</servlet-name>
		<servlet-class>it.osg.servlet.util.BulkUploaderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BulkUpload</servlet-name>
		<url-pattern>/bulk/bulkupload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Test Servlet</servlet-name>
		<servlet-class>it.osg.servlet.util.TestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Test Servlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Add To Queue</servlet-name>
		<servlet-class>it.osg.servlet.util.AddToQueue</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Add To Queue</servlet-name>
		<url-pattern>/atq</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RetrieveDataServlet</servlet-name>
		<servlet-class>it.osg.servlet.util.RetrieveDataServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RetrieveDataServlet</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>
	<!-- FINE VARIE -->
	

	<!-- JERSEY -->
	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>it.osg.service.rest.impl</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>it.osg.security.ResponseCorsFilter</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- <servlet-mapping> <servlet-name>Jersey Web Application</servlet-name> 
		<url-pattern>/resources/*</url-pattern> </servlet-mapping> -->

	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<!-- FINE JERSEY -->



	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>