<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- PSAR -->
	<!-- FACEBOOK -->
	<servlet>
		<servlet-name>FacebookPsarSplitTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.facebook.FBSplitTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FacebookPsarSplitTaskServlet</servlet-name>
		<url-pattern>/FBpsarsplittask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FacebookPsarSubTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.facebook.FBSubTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FacebookPsarSubTaskServlet</servlet-name>
		<url-pattern>/FBpsarsubtask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FacebookPsarJoinTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.facebook.FBJoinTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FacebookPsarJoinTaskServlet</servlet-name>
		<url-pattern>/FBpsarjointask</url-pattern>
	</servlet-mapping>

	<!-- PLUS -->
	<servlet>
		<servlet-name>PlusPsarSplitTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.plus.PLSplitTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PlusPsarSplitTaskServlet</servlet-name>
		<url-pattern>/PLpsarsplittask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PlusPsarSubTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.plus.PLSubTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PlusPsarSubTaskServlet</servlet-name>
		<url-pattern>/PLpsarsubtask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PlusPsarJoinTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.plus.PLJoinTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PlusPsarJoinTaskServlet</servlet-name>
		<url-pattern>/PLpsarjointask</url-pattern>
	</servlet-mapping>

	<!-- YOUTUBE -->
	<servlet>
		<servlet-name>YoutubePsarSplitTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.youtube.YOSplitTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>YoutubePsarSplitTaskServlet</servlet-name>
		<url-pattern>/YOpsarsplittask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>YoutubePsarSubTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.youtube.YOSubTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>YoutubePsarSubTaskServlet</servlet-name>
		<url-pattern>/YOpsarsubtask</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>YoutubePsarJoinTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.psar.youtube.YOJoinTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>YoutubePsarJoinTaskServlet</servlet-name>
		<url-pattern>/YOpsarjointask</url-pattern>
	</servlet-mapping>
	<!-- FINE PSAR -->

	<!-- MONITORING -->
	<!-- FACEBOOK -->
	<servlet>
		<servlet-name>MonitoringFacebookServlet</servlet-name>
		<servlet-class>it.osg.servlet.monitoring.MonitoringFacebookServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MonitoringFacebookServlet</servlet-name>
		<url-pattern>/monitorfacebook</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MonitoringSindacoFacebookServletQueue</servlet-name>
		<servlet-class>it.osg.servlet.monitoring.facebook.MonitoringSindacoFacebookServletQueue</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MonitoringSindacoFacebookServletQueue</servlet-name>
		<url-pattern>/monitorsindacofacebookqueue</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MonitoringQuotidianoFacebookServletQueue</servlet-name>
		<servlet-class>it.osg.servlet.monitoring.facebook.MonitoringQuotidianoFacebookServletQueue</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MonitoringQuotidianoFacebookServletQueue</servlet-name>
		<url-pattern>/monitorquotidianofacebookqueue</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MonitoringModaFacebookServletQueue</servlet-name>
		<servlet-class>it.osg.servlet.monitoring.facebook.MonitoringModaFacebookServletQueue</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MonitoringModaFacebookServletQueue</servlet-name>
		<url-pattern>/monitormodafacebookqueue</url-pattern>
	</servlet-mapping>
	
	<!-- YOUTUBE -->
	<servlet>
		<servlet-name>MonitoringYouTubeServlet</servlet-name>
		<servlet-class>it.osg.servlet.monitoring.MonitoringYouTubeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MonitoringYouTubeServlet</servlet-name>
		<url-pattern>/monitoryoutube</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MonitoringSindacoYouTubeServletQueue</servlet-name>
		<servlet-class>it.osg.servlet.monitoring.youtube.MonitoringSindacoYouTubeServletQueue</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MonitoringSindacoYouTubeServletQueue</servlet-name>
		<url-pattern>/monitorsindacoyoutubequeue</url-pattern>
	</servlet-mapping>
	<!-- FINE MONITORING -->


	<!-- BASE INFO -->
	<!-- FACEBOOK -->
	<servlet>
		<servlet-name>FBBaseInfoSplitTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.baseinfo.facebook.FBBaseInfoSplitTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FBBaseInfoSplitTaskServlet</servlet-name>
		<url-pattern>/FBbaseinfosplittask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FBBaseInfoSubTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.baseinfo.facebook.FBBaseInfoSubTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FBBaseInfoSubTaskServlet</servlet-name>
		<url-pattern>/FBbaseinfosubtask</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>FBBaseInfoJoinTaskServlet</servlet-name>
		<servlet-class>it.osg.servlet.baseinfo.facebook.FBBaseInfoJoinTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FBBaseInfoJoinTaskServlet</servlet-name>
		<url-pattern>/FBbaseinfojointask</url-pattern>
	</servlet-mapping>
	<!-- FINE BASE INFO -->
	
	<!-- DELTA FAN -->
	<servlet>
		<servlet-name>DeltaFanServlet</servlet-name>
		<servlet-class>it.osg.servlet.util.DeltaFanServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeltaFanServlet</servlet-name>
		<url-pattern>/deltafan</url-pattern>
	</servlet-mapping>
	<!-- FINE DELTA FAN -->

	<!-- CRON JOB DI PULIZIA -->
	<servlet>
		<servlet-name>DeleteTableServlet</servlet-name>
		<servlet-class>it.osg.servlet.DeleteTableServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteTableServlet</servlet-name>
		<url-pattern>/deletetable</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteTableToQueueServlet</servlet-name>
		<servlet-class>it.osg.servlet.DeleteTableToQueueServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteTableToQueueServlet</servlet-name>
		<url-pattern>/deletetabletoqueue</url-pattern>
	</servlet-mapping>
	<!-- FINE CRON JOB DI PULIZIA -->


	<!-- VARIE -->
	<servlet>
		<servlet-name>BulkUpload</servlet-name>
		<servlet-class>it.osg.servlet.util.BulkUploaderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BulkUpload</servlet-name>
		<url-pattern>/bulk/bulkupload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HttpGET</servlet-name>
		<servlet-class>it.osg.servlet.util.HttpGET</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HttpGET</servlet-name>
		<url-pattern>/httpget</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Test Servlet</servlet-name>
		<servlet-class>it.osg.servlet.util.TestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Test Servlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Add To Queue</servlet-name>
		<servlet-class>it.osg.servlet.util.AddToQueue</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Add To Queue</servlet-name>
		<url-pattern>/atq</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RetrieveDataServlet</servlet-name>
		<servlet-class>it.osg.servlet.util.RetrieveDataServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RetrieveDataServlet</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PostToDatastoreServlet</servlet-name>
		<servlet-class>it.osg.servlet.util.PostToDatastore</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PostToDatastoreServlet</servlet-name>
		<url-pattern>/posttodatastore</url-pattern>
	</servlet-mapping>
	<!-- FINE VARIE -->


	<!-- JERSEY -->
	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>it.osg.service.rest.impl</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>it.osg.service.security.ResponseCorsFilter</param-value>
		</init-param>
		<!-- 
		<init-param>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		 -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- <servlet-mapping> <servlet-name>Jersey Web Application</servlet-name> 
		<url-pattern>/resources/*</url-pattern> </servlet-mapping> -->

	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<!-- FINE JERSEY -->



	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>